<template>
    <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
          class="popup"
        >
          <v-flex
            xs12
            sm8
            md4
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Add Task</v-toolbar-title>
              </v-toolbar>
                <v-card-text>
                
                </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green">Add Task</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
        <popup v-show="isPopup"></popup>
      </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import popup from '@/components/popup.vue'

export default {
    data() {
        return {
            title: '',
            description: ''
        }
    },
    computed: mapGetters(['isPopup']),
    components: {
        popup
    }
}
</script>

<style scoped>
    
</style>