<template>
  <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md6
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Sign up</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-alert 
                  :value="getError"
                  type="warning"
                > 
                  {{getError}}
                </v-alert>
                <v-form>
                  <v-text-field
                    label="Email"
                    name="login"
                    prepend-icon="fa-user"
                    type="email"
                    required
                    v-model="email"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="fa-lock"
                    type="password"
                    required
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click.prevent="signUp({email,password})" :disabled="getProccesing">Next</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'create',
  data() {
    return {
      email: null,
      password: null,
    }
  },
  computed: mapGetters(['getError','getProccesing','isUserAuthentication']),
  watch: {
    isUserAuthentication(val) {
      if(val === true) {
        this.$router.push('/list')
      }
    }
  },
  methods: mapActions(['signUp'])
}
</script>

<style scoped>
  .content {
    width: 50%
  }
</style>