<template>
    <v-app-bar
        app
        color="indigo"
        dark
    >
        <v-spacer></v-spacer>
        <h1 class="font-weight-thin">Google Calendar</h1>
        <v-spacer></v-spacer>
        <v-btn to="/" color="transparent" elevation="0" recent>
            <v-icon>fa-home</v-icon>
        </v-btn>
        <v-btn to="/login" color="transparent" elevation="0">
            <span class="mr-2">Sign Up</span>
            <v-icon>fa-user</v-icon>
        </v-btn>
        <v-btn to="/list" color="transparent" elevation="0">
            <v-icon>fa-list-alt</v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
export default {
    data () {
    return {
      bottomNav: 'recent',
    }
  }
}
</script>