<template>
    <v-layout
        v-show="isPopup"
        align-center
        justify-center
        class="popup"
    >
        <v-flex
          xs12
          sm8
          md4
        >
          <v-card class="elevation-12">
            <v-toolbar
              color="primary"
              dark
              flat
            >
              <v-toolbar-title>Add Task</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                  label="Name title"
                ></v-text-field>
                <v-text-field
                  label="Descriptions"
                  required
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green">Add Task</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
</template>