<template>
  <v-app>
    <appBar></appBar>
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script>
import appBar from '@/components/appBar.vue'

export default {
  name: 'App',
  components: {
    appBar
  }
};
</script>
